## Final Project
### In order to solve this set of questions you will use the dataset in the relative directory ./tmdb_5000_movies.csv

### Open Your CSV file and print the first 10 rows in a good format ###

##### Exploring data

### Check if any NANs in your dataset and fill them with a good filer ###

In [1]:
"""
We can fill the datasets by many ways. depending on the way we see the data. the filling method always depend on the 
understanding of the columns variables
"""
# mean is not always the best solution, if there is any outliers, it will be misleading. 
#more suitable with symmetric data distribution
"""dataset.fillna(dataset.mean(), inplace = True) """

# median is a good solution with skewed data. but since we have categoricals variables I cannot use it
"""dataset.fillna(dataset.median(), inplace = True)"""

# also we can use linear interpolation to fill the nan data,
# in this code snippet it will change the nan with the most suitable number, to follow the direction of increasing.
"""dataset.interpolate(method ='linear', limit_direction ='forward')"""

"dataset.interpolate(method ='linear', limit_direction ='forward')"

### Discover the types of each columns and modify them if needed ###

### Give a very simple statistical analsys for the numerical columns ###

### Calculate the mean rate for [1999, 1980, 2004, 2017] the movies grouped by years ###

### Rearange the dataframe based on revenue - budget values ###

### Allocate the year with the largest movies released in ['Action', 'Romance'] ###

### Find the movies with top 5 revenue - budget value ###

### Find the year with the highest number of movies release ###

### Find the top 2 countries with the highest production movies number ###

### Find the top 1 company with the highest production movies number ###

### Is there any relation between the runtime and average vote value ### **

### Find the top 5 movies with the highest rate, and find if there anything common between them. ###

### Find the most unsuccessful movie along time in terms of revenue - budget ###

### Rearange the dataframe based on vote_average column values ###

### Rearange the dataframe based on runtime column values ###

### Find the top 5 successful years for the USA cinema based on the total income devided by number of movies  ###

### Find the most succesfull movie in [USA, UK] ###

### In your opinion what is the highest variable that affects the revenue value (high coloration) ### PONUS

## Good Luck