## Final Project
### In order to solve this set of questions you will use the dataset in the relative directory ./tmdb_5000_movies.csv

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns  # For better-looking plots

# Ensure plots display inline in Jupyter Notebook
%matplotlib inline
data = pd.read_csv('./tmdb_5000_movies.csv')
data.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

### Open Your CSV file and print the first 10 rows in a good format ###

In [ ]:
pd.set_option('display.max_columns', None)  # يعرض كل الأعمدة بدون اختصار
print(data.head(10))

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
5  258000000  [{"id": 14, "name": "Fantasy"}, {"id": 28, "na...
6  260000000  [{"id": 16, "name": "Animation"}, {"id": 10751...
7  280000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
8  250000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
9  250000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                            homepage      id  \
0                        http://www.avatarmovie.com/   19995
1       http://disney.go.com/disneypictures/pirates/     285
2        http://www.sonypictures.com/movies/spectre/  206647
3                 http://www.thedarkknightrises.com/   49026
4               http://movies.disney.com/john-carter   49529
5    http://www.sonypictures.com/movies/spider-man3/     559
6       http://disney.go.com/disneypictures/tangled/   38757
7  http://marvel.com/movies/movie/193/avengers_ag...   99861
8  http://harrypotter.warnerbros.com/harrypottera...     767
9       http://www.batmanvsupermandawnofjustice.com/  209112

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en
5  [{"id": 851, "name": "dual identity"}, {"id": ...                en
6  [{"id": 1562, "name": "hostage"}, {"id": 2343,...                en
7  [{"id": 8828, "name": "marvel comic"}, {"id": ...                en
8  [{"id": 616, "name": "witch"}, {"id": 2343, "n...                en
9  [{"id": 849, "name": "dc comics"}, {"id": 7002...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter
5                              Spider-Man 3
6                                   Tangled
7                   Avengers: Age of Ultron
8    Harry Potter and the Half-Blood Prince
9        Batman v Superman: Dawn of Justice

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995
5  The seemingly invincible Spider-Man goes up ag...  115.699814
6  When the kingdom's most wanted-and most charmi...   48.681969
7  When Tony Stark tries to jumpstart a dormant p...  134.279229
8  As Harry begins his sixth year at Hogwarts, he...   98.885637
9  Fearing the actions of a god-like Super Hero l...  155.790452

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]
5  [{"name": "Columbia Pictures", "id": 5}, {"nam...
6  [{"name": "Walt Disney Pictures", "id": 2}, {"...
7  [{"name": "Marvel Studios", "id": 420}, {"name...
8  [{"name": "Warner Bros.", "id": 6194}, {"name"...
9  [{"name": "DC Comics", "id": 429}, {"name": "A...

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100
5  [{"iso_3166_1": "US", "name": "United States o...   2007-05-01   890871626
6  [{"iso_3166_1": "US", "name": "United States o...   2010-11-24   591794936
7  [{"iso_3166_1": "US", "name": "United States o...   2015-04-22  1405403694
8  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2009-07-07   933959197
9  [{"iso_3166_1": "US", "name": "United States o...   2016-03-23   873260194

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released
5    139.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
6    100.0           [{"iso_639_1": "en", "name": "English"}]  Released
7    141.0           [{"iso_639_1": "en", "name": "English"}]  Released
8    153.0           [{"iso_639_1": "en", "name": "English"}]  Released
9    151.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.
5                              The battle within.
6        They're taking adventure to new lengths.
7                             A New Age Has Come.
8                           Dark Secrets Revealed
9                              Justice or revenge

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124
5                              Spider-Man 3           5.9        3576
6                                   Tangled           7.4        3330
7                   Avengers: Age of Ultron           7.3        6767
8    Harry Potter and the Half-Blood Prince           7.4        5293
9        Batman v Superman: Dawn of Justice           5.7        7004

##### Exploring data

In [6]:
print(data.head())

      budget                                             genres  \
0  237000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1  300000000  [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2  245000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3  250000000  [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4  260000000  [{"id": 28, "name": "Action"}, {"id": 12, "nam...

                                       homepage      id  \
0                   http://www.avatarmovie.com/   19995
1  http://disney.go.com/disneypictures/pirates/     285
2   http://www.sonypictures.com/movies/spectre/  206647
3            http://www.thedarkknightrises.com/   49026
4          http://movies.disney.com/john-carter   49529

                                            keywords original_language  \
0  [{"id": 1463, "name": "culture clash"}, {"id":...                en
1  [{"id": 270, "name": "ocean"}, {"id": 726, "na...                en
2  [{"id": 470, "name": "spy"}, {"id": 818, "name...                en
3  [{"id": 849, "name": "dc comics"}, {"id": 853,...                en
4  [{"id": 818, "name": "based on novel"}, {"id":...                en

                             original_title  \
0                                    Avatar
1  Pirates of the Caribbean: At World's End
2                                   Spectre
3                     The Dark Knight Rises
4                               John Carter

                                            overview  popularity  \
0  In the 22nd century, a paraplegic Marine is di...  150.437577
1  Captain Barbossa, long believed to be dead, ha...  139.082615
2  A cryptic message from Bond’s past sends him o...  107.376788
3  Following the death of District Attorney Harve...  112.312950
4  John Carter is a war-weary, former military ca...   43.926995

                                production_companies  \
0  [{"name": "Ingenious Film Partners", "id": 289...
1  [{"name": "Walt Disney Pictures", "id": 2}, {"...
2  [{"name": "Columbia Pictures", "id": 5}, {"nam...
3  [{"name": "Legendary Pictures", "id": 923}, {"...
4        [{"name": "Walt Disney Pictures", "id": 2}]

                                production_countries release_date     revenue  \
0  [{"iso_3166_1": "US", "name": "United States o...   2009-12-10  2787965087
1  [{"iso_3166_1": "US", "name": "United States o...   2007-05-19   961000000
2  [{"iso_3166_1": "GB", "name": "United Kingdom"...   2015-10-26   880674609
3  [{"iso_3166_1": "US", "name": "United States o...   2012-07-16  1084939099
4  [{"iso_3166_1": "US", "name": "United States o...   2012-03-07   284139100

   runtime                                   spoken_languages    status  \
0    162.0  [{"iso_639_1": "en", "name": "English"}, {"iso...  Released
1    169.0           [{"iso_639_1": "en", "name": "English"}]  Released
2    148.0  [{"iso_639_1": "fr", "name": "Fran\u00e7ais"},...  Released
3    165.0           [{"iso_639_1": "en", "name": "English"}]  Released
4    132.0           [{"iso_639_1": "en", "name": "English"}]  Released

                                          tagline  \
0                     Enter the World of Pandora.
1  At the end of the world, the adventure begins.
2                           A Plan No One Escapes
3                                 The Legend Ends
4            Lost in our world, found in another.

                                      title  vote_average  vote_count
0                                    Avatar           7.2       11800
1  Pirates of the Caribbean: At World's End           6.9        4500
2                                   Spectre           6.3        4466
3                     The Dark Knight Rises           7.6        9106
4                               John Carter           6.1        2124

In [8]:
print(data.columns)

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

### Check if any NANs in your dataset and fill them with a good filer ###

In [10]:
data.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [12]:
data['homepage'] = data['homepage'].fillna("Not Available")
data['tagline'] = data['tagline'].fillna("No Tagline")
data['overview'] = data['overview'].fillna("No Overview")
data['release_date'] = data['release_date'].fillna("Unknown Date")
data['runtime'] = data['runtime'].fillna(data['runtime'].mean())

### Discover the types of each columns and modify them if needed ###

In [13]:
print(data.dtypes)

budget                    int64
genres                   object
homepage                 object
id                        int64
keywords                 object
original_language        object
original_title           object
overview                 object
popularity              float64
production_companies     object
production_countries     object
release_date             object
revenue                   int64
runtime                 float64
spoken_languages         object
status                   object
tagline                  object
title                    object
vote_average            float64
vote_count                int64
dtype: object

In [14]:
# تحويل عمود 'release_date' إلى datetime
data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')

# تحويل عمود 'runtime' إلى int إذا كان يمثل وقتًا
data['runtime'] = data['runtime'].fillna(0).astype(int)  # إذا كانت هناك قيم مفقودة، نقوم بملئها بـ 0 أولًا

# التحقق من الأنواع بعد التعديل
print(data.dtypes)

budget                           int64
genres                          object
homepage                        object
id                               int64
keywords                        object
original_language               object
original_title                  object
overview                        object
popularity                     float64
production_companies            object
production_countries            object
release_date            datetime64[ns]
revenue                          int64
runtime                          int64
spoken_languages                object
status                          object
tagline                         object
title                           object
vote_average                   float64
vote_count                       int64
dtype: object

### Give a very simple statistical analsys for the numerical columns ###

In [15]:
# إجراء التحليل الإحصائي البسيط للأعمدة العددية
numerical_summary = data.describe()

# عرض التحليل الإحصائي
print(numerical_summary)

             budget             id   popularity  \
count  4.803000e+03    4803.000000  4803.000000
mean   2.904504e+07   57165.484281    21.492301
min    0.000000e+00       5.000000     0.000000
25%    7.900000e+05    9014.500000     4.668070
50%    1.500000e+07   14629.000000    12.921594
75%    4.000000e+07   58610.500000    28.313505
max    3.800000e+08  459488.000000   875.581305
std    4.072239e+07   88694.614033    31.816650

                        release_date       revenue      runtime  vote_average  \
count                           4802  4.803000e+03  4803.000000   4803.000000
mean   2002-12-27 23:45:54.352353280  8.226064e+07   106.875494      6.092172
min              1916-09-04 00:00:00  0.000000e+00     0.000000      0.000000
25%              1999-07-14 00:00:00  0.000000e+00    94.000000      5.600000
50%              2005-10-03 00:00:00  1.917000e+07   103.000000      6.200000
75%              2011-02-16 00:00:00  9.291719e+07   117.500000      6.800000
max              2017-02-03 00:00:00  2.787965e+09   338.000000     10.000000
std                              NaN  1.628571e+08    22.607232      1.194612

         vote_count
count   4803.000000
mean     690.217989
min        0.000000
25%       54.000000
50%      235.000000
75%      737.000000
max    13752.000000
std     1234.585891

### Calculate the mean rate for [1999, 1980, 2004, 2017] the movies grouped by years ###

In [16]:
# استخراج السنة والشهر واليوم من عمود 'release_date'
data['year'] = data['release_date'].dt.year
data['month'] = data['release_date'].dt.month
data['day'] = data['release_date'].dt.day
data['weekday'] = data['release_date'].dt.weekday  # يمثل اليوم في الأسبوع (0=الاثنين، 1=الثلاثاء، ... 6=الأحد)

# طباعة الأعمدة الجديدة للتأكد
print(data[['release_date', 'year', 'month', 'day', 'weekday']].head())

  release_date    year  month   day  weekday
0   2009-12-10  2009.0   12.0  10.0      3.0
1   2007-05-19  2007.0    5.0  19.0      5.0
2   2015-10-26  2015.0   10.0  26.0      0.0
3   2012-07-16  2012.0    7.0  16.0      0.0
4   2012-03-07  2012.0    3.0   7.0      2.0

In [20]:
years = [1999, 1980, 2004, 2017]
filtered_data = data[data['year'].isin(years)]

# حساب المتوسط لتقييمات الأفلام حسب السنة
mean_ratings_by_year = filtered_data.groupby('year')['vote_average'].mean()

# عرض النتيجة
print(mean_ratings_by_year)

year
1980    6.609091
1999    6.110526
2004    6.104412
2017    7.400000
Name: vote_average, dtype: float64

In [19]:
# تحويل الأعمدة إلى نوع صحيح Int
data['year'] = data['year'].astype('Int64')
data['month'] = data['month'].astype('Int64')
data['day'] = data['day'].astype('Int64')

### Rearange the dataframe based on revenue - budget values ###

In [21]:
data['profit'] = data['revenue'] - data['budget']  # إنشاء عمود جديد للربح
sorted_data = data.sort_values(by='profit', ascending=False)  # ترتيب تنازلي
sorted_data[['title', 'revenue', 'budget', 'profit']].head(10)  # عرض أفضل 10 أفلام ربحاً

,title,revenue,budget,profit
0,Avatar,2787965087,237000000,2550965087
25,Titanic,1845034188,200000000,1645034188
28,Jurassic World,1513528810,150000000,1363528810
44,Furious 7,1506249360,190000000,1316249360
16,The Avengers,1519557910,220000000,1299557910
7,Avengers: Age of Ultron,1405403694,280000000,1125403694
124,Frozen,1274219009,150000000,1124219009
546,Minions,1156730962,74000000,1082730962
329,The Lord of the Rings: The Return of the King,1118888979,94000000,1024888979
31,Iron Man 3,1215439994,200000000,1015439994

### Allocate the year with the largest movies released in ['Action', 'Romance'] ###

In [22]:
# التأكد إن السنة موجودة
if 'year' not in data.columns:
    data['release_date'] = pd.to_datetime(data['release_date'], errors='coerce')
    data['year'] = data['release_date'].dt.year

# تصفية الأفلام التي تحتوي على النوعين المطلوبين
selected_genres = data[data['genres'].str.contains('Action|Romance', na=False)]

# حساب عدد الأفلام لكل سنة
genre_year_counts = selected_genres['year'].value_counts()

# استخراج السنة التي فيها أكبر عدد
max_year = genre_year_counts.idxmax()
max_count = genre_year_counts.max()

print(f"أكثر سنة تم فيها إصدار أفلام Action أو Romance هي {max_year} بعدد أفلام = {max_count}")

أكثر سنة تم فيها إصدار أفلام Action أو Romance هي 2009 بعدد أفلام = 108

### Find the movies with top 5 revenue - budget value ###

In [23]:
# إنشاء عمود جديد للربح (revenue - budget)
data['profit'] = data['revenue'] - data['budget']

# ترتيب حسب الربح تنازلياً، واستخراج أول 5 أفلام
top_5_profit = data.sort_values(by='profit', ascending=False).head(5)

# عرض النتائج
print(top_5_profit[['title', 'budget', 'revenue', 'profit']])

             title     budget     revenue      profit
0           Avatar  237000000  2787965087  2550965087
25         Titanic  200000000  1845034188  1645034188
28  Jurassic World  150000000  1513528810  1363528810
44       Furious 7  190000000  1506249360  1316249360
16    The Avengers  220000000  1519557910  1299557910

### Find the year with the highest number of movies release ###

In [24]:
# حساب عدد الأفلام في كل سنة
movies_per_year = data['year'].value_counts()

# عرض السنة اللي فيها أكبر عدد أفلام
most_movies_year = movies_per_year.idxmax()
count = movies_per_year.max()

print(f"The year with the highest number of movie releases is {most_movies_year} with {count} movies.")

The year with the highest number of movie releases is 2009 with 247 movies.

### Find the top 2 countries with the highest production movies number ###

In [25]:
import ast

# استخراج الدول من عمود production_countries
def extract_countries(row):
    try:
        countries = ast.literal_eval(row)
        return [c['name'] for c in countries]
    except:
        return []

# تطبيق الدالة
data['country_list'] = data['production_countries'].apply(extract_countries)

# تفجير القائمة داخل العامود (explode)
exploded = data.explode('country_list')

# حساب عدد الأفلام حسب الدولة
top_countries = exploded['country_list'].value_counts().head(2)

print("Top 2 countries with highest number of movies produced:")
print(top_countries)

Top 2 countries with highest number of movies produced:
country_list
United States of America    3956
United Kingdom               636
Name: count, dtype: int64

### Find the top 1 company with the highest production movies number ###

In [26]:
import ast

# دالة لاستخراج الشركات من العمود
def extract_companies(row):
    try:
        companies = ast.literal_eval(row)
        return [c['name'] for c in companies]
    except:
        return []

# تطبيق الدالة على العمود
data['company_list'] = data['production_companies'].apply(extract_companies)

# تفجير كل شركة في صف منفصل
exploded_companies = data.explode('company_list')

# حساب عدد الأفلام المنتجة لكل شركة
top_company = exploded_companies['company_list'].value_counts().head(1)

print("Top 1 company with the highest number of movies produced:")
print(top_company)

Top 1 company with the highest number of movies produced:
company_list
Warner Bros.    319
Name: count, dtype: int64

### Is there any relation between the runtime and average vote value ### **

In [27]:
# حساب معامل الارتباط بين runtime و vote_average
correlation = data['runtime'].corr(data['vote_average'])
print(f"Correlation between runtime and vote_average: {correlation}")

Correlation between runtime and vote_average: 0.3740214055869421

### Find the top 5 movies with the highest rate, and find if there anything common between them. ###

In [28]:

# ترتيب البيانات بناءً على أعلى التقييمات واختيار أول 5 أفلام
top_5_movies = data.sort_values(by='vote_average', ascending=False).head(5)

# عرض أسماء الأفلام وأعلى التقييمات
print(top_5_movies[['original_title', 'vote_average']])

# ملاحظة إذا كان هناك شيء مشترك بين الأفلام الأعلى تقييمًا
# يمكن أن تكون هذه الملاحظة بناءً على الفئة (genre)، اللغة الأصلية، الإنتاج، أو أي صفة أخرى.

             original_title  vote_average
4662         Little Big Top          10.0
3519       Stiff Upper Lips          10.0
4045  Dancer, Texas Pop. 81          10.0
4247  Me You and Five Bucks          10.0
3992              Sardaarji           9.5

### Find the most unsuccessful movie along time in terms of revenue - budget ###

In [29]:
# حساب الفرق بين الإيرادات والميزانية لكل فيلم
data['revenue_budget_diff'] = data['revenue'] - data['budget']

# العثور على الفيلم الذي لديه أكبر فرق سالب
most_unsuccessful_movie = data.loc[data['revenue_budget_diff'].idxmin()]

# عرض اسم الفيلم وأكبر خسارة
print(f"Most Unsuccessful Movie: {most_unsuccessful_movie['original_title']}")
print(f"Revenue: {most_unsuccessful_movie['revenue']}")
print(f"Budget: {most_unsuccessful_movie['budget']}")
print(f"Revenue - Budget Difference: {most_unsuccessful_movie['revenue_budget_diff']}")

Most Unsuccessful Movie: The Lone Ranger
Revenue: 89289910
Budget: 255000000
Revenue - Budget Difference: -165710090

### Rearange the dataframe based on vote_average column values ###

In [30]:
# إعادة ترتيب البيانات بناءً على عمود vote_average
data_sorted_by_vote_average = data.sort_values(by='vote_average', ascending=False)

# عرض أول 10 صفوف بعد الترتيب
print(data_sorted_by_vote_average.head(10))

        budget                                             genres  \
4662         0                     [{"id": 35, "name": "Comedy"}]
3519         0                     [{"id": 35, "name": "Comedy"}]
4045         0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4247         1  [{"id": 10749, "name": "Romance"}, {"id": 35, ...
3992         0                                                 []
2386         0  [{"id": 37, "name": "Western"}, {"id": 28, "na...
1881  25000000  [{"id": 18, "name": "Drama"}, {"id": 80, "name...
2970  10500000  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
3337   6000000  [{"id": 18, "name": "Drama"}, {"id": 80, "name...
2796         0  [{"id": 12, "name": "Adventure"}, {"id": 18, "...

                          homepage      id  \
4662                 Not Available   40963
3519                 Not Available   89861
4045                 Not Available   78373
4247                 Not Available  361505
3992                 Not Available  346081
2386                 Not Available   69848
1881                 Not Available     278
2970                 Not Available   88641
3337  http://www.thegodfather.com/     238
2796                 Not Available   43867

                                               keywords original_language  \
4662        [{"id": 10183, "name": "independent film"}]                en
3519  [{"id": 131, "name": "italy"}, {"id": 8250, "n...                en
4045  [{"id": 1415, "name": "small town"}, {"id": 15...                en
4247                                                 []                en
3992                                                 []                en
2386  [{"id": 6091, "name": "war"}, {"id": 6092, "na...                en
1881  [{"id": 378, "name": "prison"}, {"id": 417, "n...                en
2970                                                 []                en
3337  [{"id": 131, "name": "italy"}, {"id": 699, "na...                en
2796  [{"id": 1930, "name": "kidnapping"}, {"id": 25...                en

                original_title  \
4662            Little Big Top
3519          Stiff Upper Lips
4045     Dancer, Texas Pop. 81
4247     Me You and Five Bucks
3992                 Sardaarji
2386            One Man's Hero
1881  The Shawshank Redemption
2970        There Goes My Baby
3337             The Godfather
2796     The Prisoner of Zenda

                                               overview  popularity  \
4662  An aging out of work clown returns to his smal...    0.092100
3519  Stiff Upper Lips is a broad parody of British ...    0.356495
4045  Four guys, best friends, have grown up togethe...    0.376662
4247  A womanizing yet lovable loser, Charlie, a wai...    0.094105
3992  A ghost hunter uses bottles to capture trouble...    0.296981
2386  One Man's Hero tells the little-known story of...    0.910529
1881  Framed in the 1940s for the double murder of h...  136.747729
2970  A group of high school seniors meets in the su...    0.037073
3337  Spanning the years 1945 to 1955, a chronicle o...  143.659698
2796  An Englishman on a Ruritarian holiday must imp...    4.021389

                                   production_companies  \
4662          [{"name": "Fly High Films", "id": 24248}]
3519                                                 []
4045  [{"name": "HSX Films", "id": 4714}, {"name": "...
4247                                                 []
3992                                                 []
2386  [{"name": "Filmax", "id": 3631}, {"name": "Sil...
1881  [{"name": "Castle Rock Entertainment", "id": 97}]
2970      [{"name": "Nelson Entertainment", "id": 365}]
3337  [{"name": "Paramount Pictures", "id": 4}, {"na...
2796  [{"name": "United Artists", "id": 60}, {"name"...

                                   production_countries release_date  \
4662  [{"iso_3166_1": "US", "name": "United States o...   2006-01-01
3519  [{"iso_3166_1": "GB", "name": "United Kingdom"...   1998-06-12
4045  [{"iso_3166_1": "US", "name": "United States o...   1998-05-01
4247                                                 []   2015-07-07
3992            [{"iso_3166_1": "IN", "name": "India"}]   2015-06-26
2386  [{"iso_3166_1": "US", "name": "United States o...   1999-08-02
1881  [{"iso_3166_1": "US", "name": "United States o...   1994-09-23
2970  [{"iso_3166_1": "US", "name": "United States o...   1994-09-02
3337  [{"iso_3166_1": "US", "name": "United States o...   1972-03-14
2796  [{"iso_3166_1": "US", "name": "United States o...   1937-09-03

        revenue  runtime                                   spoken_languages  \
4662          0        0           [{"iso_639_1": "en", "name": "English"}]
3519          0       99           [{"iso_639_1": "en", "name": "English"}]
4045     565592       97           [{"iso_639_1": "en", "name": "English"}]
4247          0       90                                                 []
3992          0        0                                                 []
2386          0      121           [{"iso_639_1": "en", "name": "English"}]
1881   28341469      142           [{"iso_639_1": "en", "name": "English"}]
2970     123509       99           [{"iso_639_1": "en", "name": "English"}]
3337  245066411      175  [{"iso_639_1": "en", "name": "English"}, {"iso...
2796          0      101  [{"iso_639_1": "es", "name": "Espa\u00f1ol"}, ...

        status                                            tagline  \
4662   Rumored                                         No Tagline
3519  Released                                         No Tagline
4045  Released       in the middle of nowhere they had everything
4247  Released               A story about second, second chances
3992  Released                                         No Tagline
2386  Released           One man's hero is another man's traitor.
1881  Released  Fear can hold you prisoner. Hope can set you f...
2970  Released                                         No Tagline
3337  Released                         An offer you can't refuse.
2796  Released       The most thrilling swordfight ever filmed...

                         title  vote_average  vote_count  year  month  day  \
4662            Little Big Top          10.0           1  2006      1    1
3519          Stiff Upper Lips          10.0           1  1998      6   12
4045     Dancer, Texas Pop. 81          10.0           1  1998      5    1
4247     Me You and Five Bucks          10.0           2  2015      7    7
3992                 Sardaarji           9.5           2  2015      6   26
2386            One Man's Hero           9.3           2  1999      8    2
1881  The Shawshank Redemption           8.5        8205  1994      9   23
2970        There Goes My Baby           8.5           2  1994      9    2
3337             The Godfather           8.4        5893  1972      3   14
2796     The Prisoner of Zenda           8.4          11  1937      9    3

      weekday     profit                               country_list  \
4662      6.0          0                 [United States of America]
3519      4.0          0                    [United Kingdom, India]
4045      4.0     565592                 [United States of America]
4247      1.0         -1                                         []
3992      4.0          0                                    [India]
2386      0.0          0  [United States of America, Mexico, Spain]
1881      4.0    3341469                 [United States of America]
2970      4.0  -10376491                 [United States of America]
3337      1.0  239066411                 [United States of America]
2796      4.0          0                 [United States of America]

                                           company_list  revenue_budget_diff
4662                                   [Fly High Films]                    0
3519                                                 []                    0
4045                     [HSX Films, Chase Productions]               565592
4247                                                 []                   -1
3992                                                 []                    0
2386  [Filmax, Silver Lion Films, Televisa S.A. de C...                    0
1881                        [Castle Rock Entertainment]              3341469
2970                             [Nelson Entertainment]            -10376491
3337           [Paramount Pictures, Alfran Productions]            239066411
2796  [United Artists, Selznick International Pictures]                    0

### Rearange the dataframe based on runtime column values ###

In [ ]:
# إعادة ترتيب البيانات بناءً على عمود vote_average
data_sorted_by_vote_average = data.sort_values(by='vote_average', ascending=False)

# عرض أول 10 صفوف بعد الترتيب
print(data_sorted_by_vote_average.head(10))

        budget                                             genres  \
4662         0                     [{"id": 35, "name": "Comedy"}]
3519         0                     [{"id": 35, "name": "Comedy"}]
4045         0  [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4247         1  [{"id": 10749, "name": "Romance"}, {"id": 35, ...
3992         0                                                 []
2386         0  [{"id": 37, "name": "Western"}, {"id": 28, "na...
1881  25000000  [{"id": 18, "name": "Drama"}, {"id": 80, "name...
2970  10500000  [{"id": 18, "name": "Drama"}, {"id": 35, "name...
3337   6000000  [{"id": 18, "name": "Drama"}, {"id": 80, "name...
2796         0  [{"id": 12, "name": "Adventure"}, {"id": 18, "...

                          homepage      id  \
4662                 Not Available   40963
3519                 Not Available   89861
4045                 Not Available   78373
4247                 Not Available  361505
3992                 Not Available  346081
2386                 Not Available   69848
1881                 Not Available     278
2970                 Not Available   88641
3337  http://www.thegodfather.com/     238
2796                 Not Available   43867

                                               keywords original_language  \
4662        [{"id": 10183, "name": "independent film"}]                en
3519  [{"id": 131, "name": "italy"}, {"id": 8250, "n...                en
4045  [{"id": 1415, "name": "small town"}, {"id": 15...                en
4247                                                 []                en
3992                                                 []                en
2386  [{"id": 6091, "name": "war"}, {"id": 6092, "na...                en
1881  [{"id": 378, "name": "prison"}, {"id": 417, "n...                en
2970                                                 []                en
3337  [{"id": 131, "name": "italy"}, {"id": 699, "na...                en
2796  [{"id": 1930, "name": "kidnapping"}, {"id": 25...                en

                original_title  \
4662            Little Big Top
3519          Stiff Upper Lips
4045     Dancer, Texas Pop. 81
4247     Me You and Five Bucks
3992                 Sardaarji
2386            One Man's Hero
1881  The Shawshank Redemption
2970        There Goes My Baby
3337             The Godfather
2796     The Prisoner of Zenda

                                               overview  popularity  \
4662  An aging out of work clown returns to his smal...    0.092100
3519  Stiff Upper Lips is a broad parody of British ...    0.356495
4045  Four guys, best friends, have grown up togethe...    0.376662
4247  A womanizing yet lovable loser, Charlie, a wai...    0.094105
3992  A ghost hunter uses bottles to capture trouble...    0.296981
2386  One Man's Hero tells the little-known story of...    0.910529
1881  Framed in the 1940s for the double murder of h...  136.747729
2970  A group of high school seniors meets in the su...    0.037073
3337  Spanning the years 1945 to 1955, a chronicle o...  143.659698
2796  An Englishman on a Ruritarian holiday must imp...    4.021389

                                   production_companies  \
4662          [{"name": "Fly High Films", "id": 24248}]
3519                                                 []
4045  [{"name": "HSX Films", "id": 4714}, {"name": "...
4247                                                 []
3992                                                 []
2386  [{"name": "Filmax", "id": 3631}, {"name": "Sil...
1881  [{"name": "Castle Rock Entertainment", "id": 97}]
2970      [{"name": "Nelson Entertainment", "id": 365}]
3337  [{"name": "Paramount Pictures", "id": 4}, {"na...
2796  [{"name": "United Artists", "id": 60}, {"name"...

                                   production_countries release_date  \
4662  [{"iso_3166_1": "US", "name": "United States o...   2006-01-01
3519  [{"iso_3166_1": "GB", "name": "United Kingdom"...   1998-06-12
4045  [{"iso_3166_1": "US", "name": "United States o...   1998-05-01
4247                                                 []   2015-07-07
3992            [{"iso_3166_1": "IN", "name": "India"}]   2015-06-26
2386  [{"iso_3166_1": "US", "name": "United States o...   1999-08-02
1881  [{"iso_3166_1": "US", "name": "United States o...   1994-09-23
2970  [{"iso_3166_1": "US", "name": "United States o...   1994-09-02
3337  [{"iso_3166_1": "US", "name": "United States o...   1972-03-14
2796  [{"iso_3166_1": "US", "name": "United States o...   1937-09-03

        revenue  runtime                                   spoken_languages  \
4662          0        0           [{"iso_639_1": "en", "name": "English"}]
3519          0       99           [{"iso_639_1": "en", "name": "English"}]
4045     565592       97           [{"iso_639_1": "en", "name": "English"}]
4247          0       90                                                 []
3992          0        0                                                 []
2386          0      121           [{"iso_639_1": "en", "name": "English"}]
1881   28341469      142           [{"iso_639_1": "en", "name": "English"}]
2970     123509       99           [{"iso_639_1": "en", "name": "English"}]
3337  245066411      175  [{"iso_639_1": "en", "name": "English"}, {"iso...
2796          0      101  [{"iso_639_1": "es", "name": "Espa\u00f1ol"}, ...

        status                                            tagline  \
4662   Rumored                                         No Tagline
3519  Released                                         No Tagline
4045  Released       in the middle of nowhere they had everything
4247  Released               A story about second, second chances
3992  Released                                         No Tagline
2386  Released           One man's hero is another man's traitor.
1881  Released  Fear can hold you prisoner. Hope can set you f...
2970  Released                                         No Tagline
3337  Released                         An offer you can't refuse.
2796  Released       The most thrilling swordfight ever filmed...

                         title  vote_average  vote_count  year  month  day  \
4662            Little Big Top          10.0           1  2006      1    1
3519          Stiff Upper Lips          10.0           1  1998      6   12
4045     Dancer, Texas Pop. 81          10.0           1  1998      5    1
4247     Me You and Five Bucks          10.0           2  2015      7    7
3992                 Sardaarji           9.5           2  2015      6   26
2386            One Man's Hero           9.3           2  1999      8    2
1881  The Shawshank Redemption           8.5        8205  1994      9   23
2970        There Goes My Baby           8.5           2  1994      9    2
3337             The Godfather           8.4        5893  1972      3   14
2796     The Prisoner of Zenda           8.4          11  1937      9    3

      weekday     profit                               country_list  \
4662      6.0          0                 [United States of America]
3519      4.0          0                    [United Kingdom, India]
4045      4.0     565592                 [United States of America]
4247      1.0         -1                                         []
3992      4.0          0                                    [India]
2386      0.0          0  [United States of America, Mexico, Spain]
1881      4.0    3341469                 [United States of America]
2970      4.0  -10376491                 [United States of America]
3337      1.0  239066411                 [United States of America]
2796      4.0          0                 [United States of America]

                                           company_list  revenue_budget_diff
4662                                   [Fly High Films]                    0
3519                                                 []                    0
4045                     [HSX Films, Chase Productions]               565592
4247                                                 []                   -1
3992                                                 []                    0
2386  [Filmax, Silver Lion Films, Televisa S.A. de C...                    0
1881                        [Castle Rock Entertainment]              3341469
2970                             [Nelson Entertainment]            -10376491
3337           [Paramount Pictures, Alfran Productions]            239066411
2796  [United Artists, Selznick International Pictures]                    0

### Find the top 5 successful years for the USA cinema based on the total income devided by number of movies  ###

In [ ]:
# فلترة البيانات للحصول على الأفلام التي تم إنتاجها في الولايات المتحدة
usa_movies = data[data['production_countries'].str.contains("United States of America", na=False)]

# حساب إجمالي الدخل لكل سنة
total_income_by_year = usa_movies.groupby('year')['revenue'].sum()

# حساب عدد الأفلام المنتجة في كل سنة
movies_count_by_year = usa_movies.groupby('year')['id'].count()

# حساب الدخل لكل فيلم (إجمالي الدخل ÷ عدد الأفلام)
income_per_movie = total_income_by_year / movies_count_by_year

# ترتيب السنوات بناءً على الدخل لكل فيلم
top_5_years = income_per_movie.sort_values(ascending=False).head(5)

# عرض أفضل 5 سنوات
print(top_5_years)

year
2016    1.603217e+08
1975    1.519088e+08
1939    1.478438e+08
2012    1.398315e+08
1942    1.389548e+08
dtype: float64

### Find the most succesfull movie in [USA, UK] ###

In [33]:
# فلترة الأفلام التي تم إنتاجها في الولايات المتحدة أو المملكة المتحدة
us_uk_movies = data[data['production_countries'].str.contains("United States of America|United Kingdom", na=False)]

# حساب الإيرادات الصافية (إيرادات - ميزانية)
us_uk_movies['net_revenue'] = us_uk_movies['revenue'] - us_uk_movies['budget']

# ترتيب الأفلام بناءً على الإيرادات الصافية من الأعلى إلى الأدنى
most_successful_movie = us_uk_movies.sort_values(by='net_revenue', ascending=False).head(1)

# عرض الفيلم الأكثر نجاحًا
print(most_successful_movie[['original_title', 'net_revenue', 'production_countries']])

  original_title  net_revenue  \
0         Avatar   2550965087

                                production_countries
0  [{"iso_3166_1": "US", "name": "United States o...

C:\Users\malawy\AppData\Local\Temp\ipykernel_22384\754875638.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_uk_movies['net_revenue'] = us_uk_movies['revenue'] - us_uk_movies['budget']

### In your opinion what is the highest variable that affects the revenue value (high coloration) ### PONUS

## Good Luck